[submodule "qsyssr/openwrt-storehouse/xgp"]
	path = qsyssr/openwrt-storehouse/xgp
	url = https://github.com/timsaya/luci-app-bandix.git
[submodule "xgp/luci-app-bandix"]
	path = xgp/luci-app-bandix
	url = https://github.com/timsaya/luci-app-bandix.git
[submodule "xgp/mt5700webui-openwrt-server"]
	path = xgp/mt5700webui-openwrt-server
	url = https://github.com/vadimrew/mt5700webui-openwrt-server.git
[submodule "xgp/openwrt-bandix"]
	path = xgp/openwrt-bandix
	url = https://github.com/timsaya/openwrt-bandix.git
[submodule "zz-packages/kmod-fb-tft-gc9307"]
	path = zz-packages/kmod-fb-tft-gc9307
	url = https://github.com/zzzz0317/kmod-fb-tft-gc9307.git
[submodule "xgp-v3-screen"]
	path = xgp-v3-screen
	url = https://github.com/zzzz0317/xgp-v3-screen.git
[submodule "xgp/kmod-fb-tft-gc9307"]
	path = xgp/kmod-fb-tft-gc9307
	url = https://github.com/zzzz0317/kmod-fb-tft-gc9307.git
[submodule "xgp/xgp-v3-screen"]
	path = xgp/xgp-v3-screen
	url = https://github.com/zzzz0317/xgp-v3-screen.git
[submodule "xgp/luci-app-adguardhome"]
	path = xgp/luci-app-adguardhome
	url = https://github.com/rufengsuixing/luci-app-adguardhome.git
[submodule "xgp/luci-app-easytier"]
	path = xgp/luci-app-easytier
	url = https://github.com/EasyTier/luci-app-easytier.git
